
* {
    margin: 0;
    padding: 0;
   font-family: 'Roboto condensed';
}

body{
    height: 100%;
} 

.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;
background-color: black;

}
.navbar .logo h1{
    color: white;
    cursor: pointer;


}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: white;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

}
.navbar .menu li .active{
    border-bottom: 4px solid #f63e4e;


}
.navbar .menu li .a:hover{
    border-bottom: 4px solid #f63e4e; 


}
.content{
   background-image: url(l\ image/image.x);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 0,5%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   color: black;
   height: 100vh;
}
.content h1{
    font-size: 40px;
    color: blanchedalmond;

}
.content p{
    font-size: 20px;
    margin-top: 20px;
    align-items: center;
    color: aqua;
}
.content h2{
    font-size: 30px;
    align-items: center;
    color: whitesmoke;
}
.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: #f63e4e;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}
.produits_texte{
    text-align: left;
    font-size: 100px;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 80px;
    color: #424144;

}
.section_produits{
    padding: 40px 5%;

}
.produits{
    display:grid ;
    grid-template-columns: repeat(auto-fit, minmax(320px, lfr));
}
.produits .carte{
    width: 310px;
    background: white;
    bottom: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}
.produits .carte img{
    height:900px;
    width: 1000px;
}
.produits .carte .desc{
    width: 400px;
    padding: 20px 25px;
    opacity: 0,8;
}
.produits .carte .titre {
    font-weight: 500;
    font-size: 20px;
    color: mediumorchid;
    padding: 0 20px;
}
.produits .carte .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    

}
.produit .carte .prix{
    width: 100px;
    color: #f63e4e;
    font-size: 40px;
    font-weight: bold;
}
.produits .carte .achat{
    font-size: 13px;
    font-weight: 900;
    color: #f63e4e;
    padding: 20px 28px;
    border-radius: 5px;
}

.produits .carte .box .achat:hover{
   cursor: pointer;
   background: black;
   color: white;
}
.style{
    width: 20;
    color: blue;
    align-items: center;

}
.style h4{
    width: 5;
    align-items: center;
    color: black;
}

            